.testimonials {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  overflow: hidden;

  .swiper-container {
    overflow: initial;
    width: calc(100% + 8rem);
    left: -4rem;

    @include media-breakpoint-down(sm) {
      width: 100%;
      left: 0;
    }
  }

  .single-testimonies-wrapper {
    width: 75%;
    margin: 0 auto;
    left: initial;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    .swiper-slide {
      border: none !important;
    }
  }

  .swiper-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    --space-amount: -4rem;

    @include media-breakpoint-down(sm) {
      --space-amount: 0;
    }

    &.swiper-button-prev {
      left: var(--space-amount);
    }

    &.swiper-button-next {
      right: var(--space-amount);
    }
  }

  .testimony {
    padding: 0 4rem;

    @include media-breakpoint-down(sm) {
      padding: 0 2rem;
    }

    .content p {
      line-height: 2 !important;
    }

    .author {
      color: $black;
      font-weight: 700;
    }

    .role {
      font-style: italic;
      color: $dark-grey;

      a {
        color: $primary;
        text-decoration: none;
      }
    }
  }

  .swiper-slide {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    border-right: 1px solid transparent;

    @include media-breakpoint-down(sm) {
      border-right: none !important;
    }

    &.swiper-slide-active {
      border-right: 1px solid $gray-200;
    }

    &.swiper-slide-active,
    &.swiper-slide-next {
      opacity: 1;
      visibility: visible;
    }

    &.swiper-slide-next {
      @include media-breakpoint-down(sm) {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
