.plain_image_text_section,
.large_image_text_section {
  p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

.button-wrapper {
  .btn {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0.5rem;
    }
  }
}
